@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: black;
}

p, h1, h2{
  color: white;
}

h1{
  font-size: 3rem;
}

button{
  background-color: rgb(84, 84, 84);
  padding: 1rem;
  border-radius: 1rem;
  color:black;
}
