@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #35465E;
}

p, h1, h2{
  color: white;
}

h1{
  font-size: 2rem;
}



button{
  background-color: rgb(84, 84, 84);
  padding: 1rem;
  border-radius: 1rem;
  color:black;
}

@media screen and (min-width:655px){
  h1{
    font-size: 2.5rem;
  }
}

@media screen and (min-width:865px){
  h1{
    font-size: 3rem;
  }
}
